<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>自动任务管理-首页</title>
        <th:block th:include="include :: headerCss"/>
        <link href="/static/css/markdown.css">
        <style>
            .red {
                color: red;
            }

            .layadmin-text * {
                margin-bottom: 10px;
            }

            .layadmin-text *:not(h1,h2,h3,h4,h5,h6,a) {
                text-indent: 2em;
            }
        </style>
    </head>
    <body>

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs0 layui-col-sm0 layui-col-md2 "></div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md8">
                    <div class="layui-card">
                        <div class="layui-card-header red" style="font-size: 18px; font-weight: bold;" id="content_header">
                            公告栏
                        </div>
                        <div class="layui-card-body layui-text layadmin-text markdown" id="notice_content"></div>
                    </div>
                </div>

            </div>

        </div>

        <th:block th:include="include :: footerJs"/>
        <script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            layui.config({
                base: '/static/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use('index');
        </script>
        <script src="/static/js/welcome.js?v=1"></script>
    </body>

</html>
